.home {
  width: 100%;
  min-height: 100vh;
  background-image: url("Hero.jpg");
  background-size: cover;
  background-position: center;
  padding-top:0%;
  position: relative;
  
  
}

/* Dark overlay */
.home-overlay {
  position:absolute;
  inset:0;
  
 
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Content */
.home-content {
  text-align: center;
  color: #fff;
  padding: 20px;
}

.home-content h1 {
  font-size: 60px;
  font-weight: bold;
  color: #f5c542;
}

.home-content p {
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.6;
}

/* Buttons */
.home-buttons {
  margin-top: 30px;
}

.home-buttons a {
  text-decoration: none;
  padding: 12px 25px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary {
  background-color: #f5c542;
  color: #111;
}

.btn-primary:hover {
  background-color: white;
}

.btn-secondary {
  border: 2px solid #f5c542;
  color: #f5c542;
}

.btn-secondary:hover {
  background-color: #f5c542;
  color: #111;
}

/* Responsive */
@media (max-width: 768px) {
  .home-content h1 {
    font-size: 40px;
  }

  .home-content p {
    font-size: 16px;
  }

  .home-buttons a {
    display: block;
    margin: 10px auto;
  }
}