* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 70px;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  color: #f4c430;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-links li {
  margin-left: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f4c430;
}

.login-btn {
  background: #f4c430;
  padding: 7px 15px;
  border-radius: 5px;
  color: #111 !important;
  font-weight: bold;
}

.login-btn:hover {
  background: white;
}

/* Mobile */
.menu-icon {
  display: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    background: #111;
    width: 100%;
    height: calc(100vh - 70px);
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    margin: 20px 0;
  }
}